<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

            <title>{% block title %}[MCW] Admin Panel{% endblock %}</title>
            <script src="/static/js/jquery-1.11.2.min.js"></script>
            <script src="/static/js/socket.io.min.js"></script>
            <script src="/static/js/d3.min.js"></script>
            <script src="/static/js/epoch.min.js"></script>
            <script src="/static/js/backend.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="/static/css/epoch.min.css">
            <link rel="stylesheet" href="/static/css/common.css">
            <link rel="stylesheet" href="/static/css/backend.css">
        {% endblock %}
    </head>
    <body>
        <header>
            MCW Admin Panel
        </header>

            <nav>
                <ul>
                    {% for id, name, template in menus %}
                    <li class="{{ 'active' if id==default }}"><a href="#{{ id }}">{{ name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>


            <main>
                <article class="statusbar">
                    <p class=".form-control-static">Status:</p>
                    <label class="label label-warning status-webpanel">Webpanel: <span class="status">Unknown</span></label>
                    <label class="label label-warning status-server">Server: <span class="status">Unknown</span></label>
                    <label class="label label-warning status-uptime">Uptime: <span class="status">?</span></label>
                    <label class="label label-warning status-player">Player: <span class="status">?/?</span></label>
                </article>

                {% for id, name, template in menus %}
                <section id="{{ id }}" class="{{ 'active' if id==default }}">{% include template %}</section>
                {% endfor %}
            </main>
    </body>
</html>