<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

            <title>{% block title %}[MCW] Login{% endblock %}</title>
            <script src="/static/js/jquery-1.11.2.min.js"></script>
            <script src="/static/js/socket.io.min.js"></script>
            <script src="/static/js/backend.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="/static/css/common.css">
            <link rel="stylesheet" href="/static/css/backend.css">
        {% endblock %}
    </head>
    <body>
        <header>
            MCP Admin Panel
        </header>

            <nav>
                <ul>
                    {% for id, name, template in menus %}
                    <li>{{ name }}</li>
                    {% endfor %}
                </ul>
            </nav>


            <main>
                {% for id, name, template in menus %}
                <section id="{{ id }}">{% include template %}</section>
                {% endfor %}
            </main>
    </body>
</html>