<article class="server-buttons">
    <!--<div class="btn-group" role="group" aria-label="...">-->
        <button type="button" class="btn btn-success server-start" disabled>Start</button>
        <button type="button" class="btn btn-danger server-stop" disabled>Stop</button>
        <button type="button" class="btn btn-warning server-restart" disabled>Restart</button>
    <!--</div>-->
</article>

<article>
    <div class="console ui-widget-content">
    </div>

    <input type="text" class="command-input">
</article>