<article id="statusbar">
Statusbar
</article>

<article>
    <div class="console ui-widget-content">
        <pre>Entry One</pre>
        <pre>Entry Two</pre>
        <pre>Entry One</pre>
        <pre>Entry Two</pre>
        <pre>Entry One</pre>
        <pre>Entry Two</pre>
        <pre>Entry One</pre>
        <pre>Entry Two</pre>
        <pre>Entry One</pre>
        <pre>Entry Two</pre>
        <pre>Entry One</pre>
        <pre>Entry Two</pre>
        <pre>Entry One</pre>
        <pre>Entry Two</pre>
        <pre>Entry One</pre>
        <pre>Entry Two</pre>
        <pre>Entry One</pre>
        <pre>Entry Two</pre>
        <pre>Entry One</pre>
        <pre>Entry Two</pre>
    </div>

    <input type="text">
</article>