

header {
    color: #dddddd;
    background-color: black;
    background-image: linear-gradient(to bottom, #222, #111);
    border-bottom: 3px solid #268bd2;

    padding: 13px 20px;
}

header nav {
    text-align: right;
    margin-right: 20px;
    color: #dddddd;
    display: inline;
    float: right;
}

header > nav a {
    color: #dddddd;
}

header > nav a:hover {
    color: #dddddd;
}

main {
    padding: 25px 50px;

    margin-left: 205px;
}

main section {
    display: none;
}

main section.active {
    display: block !important;
}

body > nav {
  float: left;
  width: 200px;
  margin-top: 10px;

  border-right: 2px solid #586e75;
}

body > nav > ul {
    margin: 0;
}

body > nav > ul > li {
    padding: 15px 0 15px 25px;
    margin: 3px 0;
}

body > nav a:focus {
    text-decoration: none;
}

body > nav a > i {
    color: #111;
}

body > nav > ul > li.active {
    color: red;
}

article {
    margin-bottom: 30px;
}

.statusbar {
    border-bottom: 1px solid gray;
    margin-bottom: 25px;
    line-height: 35px;
}

.statusbar p {
    float: left;
    margin-right: 10px;
}

.statusbar .label {
    margin: 0 3px;
}

.server-buttons {
    margin: 0px 50px 5px 0;
    text-align: right;
}

.console {
    margin-bottom: 10px;
    padding: 5px;
    border: 0;
    border-left: 1px solid gray;
    border-right: 1px solid gray;

    min-height: 350px;
    max-height: 500px;

    overflow-y: auto;
    overflow-x: hidden;
}

.console pre {
    padding: 3px 10px;
}

.console pre:nth-child(odd) {
    background-color: white;
}

article input {
    margin-top: 15px;

    width: 100%;
    border: 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 2px 5px;
}

article input:focus {
    outline: none;
}

#cpu-graph, #memory-graph {
    height: 200px;
    width: 100%;
}